
    <div class="page_title">
      <div class="container">
          <h1>TCM HEALTH CENTRE</h1>
      </div>
    </div>

    <div class="page_name">
    <h5> Health History Part II</h5>
    </div>

<!-- FORM START -->
  <form>

    <div id="pi_section2">
      <div class="container">

      <!-- Surgery Start -->

      <div class="surgery_section">
        <div class="container">
          <div class="main_caption2">
            <h5>Surgery</h5>
          </div>
            <ul class="left_padding_no">

              <li>
                <div class="row">
                <!-- Date of Birth -->
                  <div class="col-sm-3 pi2_padding">
                    <div class="form-group">
                      <label for="Type">Type:</label>
                      <input ng-model="surgery-type" type="text" class="form-control form_with" id="height" placeholder="surgery type">
                    </div>
                  </div>
                  <!-- Height -->
                  <div class="col-sm-3 pi2_padding">
                    <div class="form-group">
                      <label for="Date">Date</label>

                      <input ng-model="surgery_date" type="date" class="form-control form_with" id="birth_date" placeholder="YYYY/MM/DD">
                    </div>
                  </div>

                </div>
              </li>

              <li class="pi2_padding">
                <label for="Height">Current Symptoms:</label>
                <textarea ng-model="surgery_current_symptoms" class="form-control" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Enter Current Symptoms Here"></textarea>
              </li>

              <li>
                <button type="button" class="btn btn-default btn-lg" id="additional_surgery">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Additional Surgery
                </button>
              </li>

            </ul>

          </div>
      </div>

      <!-- Surgery End-->

      <!-- Injury Start -->

      <div class="injury_section">
        <div class="container">
          <div class="main_caption2">
            <h5>Injury</h5>
          </div>
            <ul class="left_padding_no">

              <li>
                <div class="row">
                <!-- Date of Birth -->
                  <div class="col-sm-3 pi2_padding">
                    <div class="form-group">
                      <label for="type">Type:</label>
                      <input ng-model="injury_type" type="text" class="form-control form_with" id="birth_date" placeholder="injury type">
                    </div>
                  </div>
                  <!-- Height -->
                  <div class="col-sm-3 pi2_padding">
                    <div class="form-group">
                      <label for="date">Date</label>
                      <input ng-model="injury_date" type="text" class="form-control form_with" id="height" placeholder="YYYY/MM/DD">
                    </div>
                  </div>

                </div>
              </li>

              <li class="pi2_padding">
                <label for="Height">Current Symptoms:</label>
                <textarea ng-model="injury_current_symptoms" class="form-control" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Enter Current Symptoms Here"></textarea>
              </li>

              <li>
                <button type="button" class="btn btn-default btn-lg" id="additional_injury">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Additional Injury
                </button>
              </li>

            </ul>

          </div>
      </div>

      <!-- Injury End-->

      <!-- Other Med Condition Start -->

      <div class="other_section">
        <div class="container">

            <ul class="left_padding_no">

              <li>
                <label for="other_medical">Other Medical Conditions</label>
                <textarea ng-model="other-medical_conditions" class="form-control" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Enter Current Symptoms Here"></textarea>
              </li>
            </ul>

          </div>
      </div>

      <!--  Other Med Condition End-->

      <!-- Special Note Start -->

      <div class="specialnote_section">
        <div class="container">

            <ul class="left_padding_no">

              <li>
                <label for="special_note">Of Special Note <i>( pins, wires, artifical joints or limbs, special equpiment suc as wheelchairs, walker, cane, etc. )</i></label>
                <textarea ng-model="of_special_note" class="form-control" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Enter Current Symptoms Here"></textarea>
              </li>

            </ul>

          </div>
      </div>

      <!-- Special Note End-->

      <!-- Physician Start -->

      <div class="physician_section">
        <div class="container">
          <div class="main_caption2">
            <h5>Primary Care Physician</h5>
          </div>
            <ul class="left_padding_no">

              <li>
                <div class="row">
                <!-- Physician Name -->
                  <div class="col-sm-4 pi2_padding">
                    <div class="form-group">
                      <label for="Name">Name</label>
                      <input ng-model="physician_name" type="text" class="form-control form_with" id="physician_name" placeholder="Enter Physician's Name Here">
                    </div>
                  </div>
                  <!-- Physician phone number -->
                  <div class="col-sm-4 pi2_padding">
                    <div class="form-group">
                      <label for="phone_number">Phone Number</label>
                      <input ng-model="physician_phone" type="text" class="form-control form_with" id="physician_number" placeholder="Enter Phone Number Here">
                    </div>
                  </div>

                </div>
              </li>

              <li>
                <div class="row">
                <!-- Physician Address -->
                  <div class="col-sm-4 pi2_padding">
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input ng-model="physician_address" type="text" class="form-control form_with" id="physician_address" placeholder="Enter Physician's Address Here">
                    </div>
                  </div>
                  <!-- Last Visit Date -->
                  <div class="col-sm-4 pi2_padding">
                    <div class="form-group">
                      <label for="date_visit">Date of Last Visit</label>
                      <input ng-model="physician_last_visit_date" type="text" class="form-control form_with" id="physician_lastvisit" placeholder="YYYY/MM/DD">
                    </div>
                  </div>

                </div>
              </li>

            </ul>

          </div>
      </div>

      <!-- Physician End-->

      <!-- Present Involvement Start -->

      <div class="involvement_section">
        <div class="container">
          <div class="main_caption2">
            <h5>Present Involvement In Other Health Care:</h5>
          </div>

          <ul class="left_padding_no">

            <li>
            <div class="row">
                <div class="col-sm-3">
                  <label class="radio-inline checkbox-circle">
                  <input ng-model="involvement_in_chiropractic" type="checkbox" id="inlineCheckbox1" name="contact" > Chiropractic
                  </label>
                </div>

                <div class="col-sm-3">
                  <label class="radio-inline checkbox-circle">
                    <input ng-model="involvement_in_physiotherapy" type="checkbox" id="inlineCheckbox2" name="contact"> Physiotherapy
                  </label>
                </div>

                <div class="col-sm-3">
                  <label class="radio-inline checkbox-circle">
                    <input ng-model="involvement_in_massage_therapy" type="checkbox" id="inlineCheckbox3" name="contact"> Massage Therapy
                  </label>
                </div>

                <div class="col-sm-3">
                  <label class="radio-inline checkbox-circle">
                      <input ng-model="involvement_in_psychotherapy" type="checkbox" id="inlineCheckbox4" name="contact"> Psychotherapy
                  </label>
                </div>

                <div class="col-sm-6">
                  <label class="radio-inline checkbox-circle">
                      <input ng-model="involvement_in_tcm" type="checkbox" id="inlineCheckbox4" name="contact"> TCM (Acupuncture or Herbals)
                  </label>
                </div>

                <div class="col-sm-3">
                  <label class="radio-inline checkbox-circle">
                      <input ng-model="involvement_in_others" type="checkbox" id="inlineCheckbox4" name="contact"> Others
                  </label>
                </div>

              </div>
              </li>

              <li>
              <textarea ng-model="involvement_in_others_text" class="form-control" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="If selected Others please list in this box"></textarea>
              </li>


          </div>
      </div>

      <!-- Present Involvement End-->

      <!-- Current Medication Start -->

      <div class="currentmed_section">
        <div class="container">
          <div class="main_caption2">
            <h5>Current Medications:</h5>
          </div>
            <ul class="left_padding_no">

              <li>
                <div class="row">
                <!-- Medication -->
                  <div class="col-sm-3 pi2_padding">
                    <div class="form-group">
                      <label for="medication_name">Name</label>
                      <input ng-model="medication_name" type="text" class="form-control form_with" id="medication_name" placeholder="Enter Your Medication Here">
                    </div>
                  </div>

              <li class="pi2_padding">
                <label for="Height">For What Condition?</label>
                <textarea ng-model="medication_condition" class="form-control" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Enter Condition Here"></textarea>
              </li>

              <li>
                <button type="button" class="btn btn-default btn-lg" id="additional_surgery">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Additional Medications
                </button>
              </li>

            </ul>

          </div>
      </div>

      <!-- Current Medication End-->

      <!-- Chemical & Radio Therapy Start -->

      <div class="crtherapy_section">
        <div class="container">

          <ul class="left_padding_no">

            <li>
            <div class="row">
                <div class="col-sm-3">
                  <label class="radio-inline checkbox-circle">
                  <input ng-model="chemical_therapy" type="checkbox" id="inlineCheckbox1" name="contact"> Chemical Therapy
                  </label>
                </div>

                <div class="col-sm-3">
                  <label class="radio-inline checkbox-circle">
                    <input ng-model="radiotherapy" type="checkbox" id="inlineCheckbox2" name="contact"> Radiotherapy
                  </label>
                </div>
              </div>
            </li>

          </div>
      </div>

      <!-- Chemical & Radio Therapy End-->

      <!-- Supplement Start -->

      <div class="supplement_section">
        <div class="container">

            <ul class="left_padding_no">

              <li>
                <label for="supplements">Supplements:</label>
                <textarea ng-model="supplements" class="form-control" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Enter Supplements Here"></textarea>
              </li>

              <li>
                <button type="button" class="btn btn-default btn-lg" id="additional_medication">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Additional Medications
                </button>
              </li>

            </ul>

          </div>
      </div>

      <!--  Supplement End-->

      <!-- Chinese Herbals Start -->

      <div class="herbal_section">
        <div class="container">

            <ul class="left_padding_no">

              <li>
                <label for="herbal">Chinese Herbals:</label>
                <textarea  ng-model="chinese_herbals" class="form-control" rows="1" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="Enter Chinese Herbals Here"></textarea>
              </li>

              <li>
                <button type="button" class="btn btn-default btn-lg" id="additional_medication">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Additional Chinese Herbals
                </button>
              </li>

            </ul>

          </div>
      </div>

      <!--  Chinese Herbals End-->


        <div class="page_indicator">
              <ol class="carousel-indicators">
                  <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                  <li data-target="#slideshow" data-slide-to="1"></li>
                  <li data-target="#slideshow" data-slide-to="2"></li>
                  <li data-target="#slideshow" data-slide-to="3"></li>
              </ol>
        </div>

        <button type="submit" class="btn btn-default next_btn pi_btn">Next</button>

      </div>
    </div>

  </form>
<!-- FORM ENDS -->

    <!-- Phone version -->

    <div id="welcome_mobile">
      <div class="container">
        <ul>
         <li><h1>WELCOME<br>TCM HEALTH CENTRE</h1></li>
         <li><p>Client Registration Form is not compactable with Mobile Phones</p></li>
        </ul>

      </div>
    </div>






  	<script>
   	new WOW().init();
 	 </script>

   <script>
    function textAreaAdjust(o) {
        o.style.height = "1px";
        o.style.height = (25+o.scrollHeight)+"px";
    }
</script>
