
    <div class="page_title">
      <div class="container">
          <h1>TCM HEALTH CENTRE</h1>
      </div>
    </div>

    <div class="page_name">
      <ul class="left_padding_no">
          <li><h5> Health History</h5></li>
          <li>
          <div class="hh_discription">
          <div class="container">
          <h6>Please check the conditions that you are currently experiencing, or have experience often in the past.</h6>
          </div>
          </div>
          </li>
      </ul>
    </div>

<!-- FORM START -->

  <form>

    <div class="history_choice">
      <div class="container">

      <!-- Head / Neck Section Start -->
        <div class="main_caption">
          <h5>Head/Neck</h5>
        </div>
        <div id="previous_condition_background"></div>

          <ul class="cp_line">
            <li><p>Current</p></li>
            <li class="top_border"><p>Previous</p></li>
          </ul>

        <div class="row hhrow_leftpadding hh_gap">
        <!-- Radios Starts -->
          <div class="col-sm-12">

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Headaches</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_headaches" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_headaches" type="checkbox" name="blankRadio" id="blankRadio1"  aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Eye Problems</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_eye_problems" type="checkbox" name="blankRadio" id="blankRadio1"  aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_eye_problems" type="checkbox" name="blankRadio" id="blankRadio1"  aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Ear Problems</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_ear_problems" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_ear_problems" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Hearing Loss</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_hearing_loss" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_hearing_loss" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>

      <!-- Head/Neck Section End -->

      <!-- Respiratory Section Start -->
      <div class="main_caption">
          <h5>Respiratory</h5>
        </div>
                <div id="previous_condition_background"></div>

          <ul class="cp_line">
            <li><p>Current</p></li>
            <li class="top_border"><p>Previous</p></li>
          </ul>

        <div class="row hhrow_leftpadding hh_gap">
        <!-- Radios Starts -->
          <div class="col-sm-12">

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Chronic Cough</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_chronic_cough" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_chronic_cough" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Short Breath</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_short_breath" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_short_breath" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Bronchitis</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_bronchitis" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_bronchitis" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Asthma</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_asthma" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_asthma" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Smoking</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_smoking" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_smoking" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- Respiratory Section End -->

        <!-- Cardiovascular Section Start -->
      <div class="main_caption">
          <h5>Cardiovascular</h5>
        </div>

                <div id="previous_cardio_background"></div>

          <ul class="cp_line3">
            <li><p>Current</p></li>
            <li class="top_border"><p>Previous</p></li>
          </ul>

        <div class="row hhrow_leftpadding hh_gap">
        <!-- Radios Starts -->
          <div class="col-sm-12">

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">High Blood Pressure</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_high_blood_pressure" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_high_blood_pressure" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Low Blood Pressure</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_low_blood_pressure" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_low_blood_pressure" type="checkbox" name="blankRadio" id="blankRadio1"  aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top cd_tb">CCHF</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_cchf" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_cchf" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle cd_xtb">Heart Attack</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_heart_attack" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_heart_attack" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top cd_tb">Phlebitis</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_phlebitis" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_phlebitis" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle cd_xtb">Stroke/ CVA</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_stroke_cva" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_stroke_cva" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle cd_xtb">Pacemaker or Other</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_pacemaker_or_other" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_pacemaker_or_other" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- Cardiovascular Section End -->

        <!-- Other Conditions Section Start -->
      <div class="main_caption">
          <h5>Other Conditions</h5>
        </div>

        <div id="previous_condition_background"></div>

          <ul class="cp_line">
            <li><p>Current</p></li>
            <li class="top_border"><p>Previous</p></li>
          </ul>

        <div class="row hhrow_leftpadding hh_gap">
        <!-- Radios Starts -->
          <div class="col-sm-12">

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Difficult Digestion</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_difficult_digestion" type="checkbox" name="blankRadio" id="blankRadio1"  aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_difficult_digestion" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Constipation</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_constipation" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_constipation" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Liver</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_liver" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_liver" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Gall Bladder</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_gall_bladder" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_gall_bladder" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Kidney</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_kidney" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_kidney" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Bladder</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_bladder" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_bladder" type="checkbox" name="blankRadio" id="blankRadio1"  aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Diabetes, Onset</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_diabetes_onset" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_diabetes_onset" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Sinus</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_sinus" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_sinus" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- Other Conditions Section End -->

        <!-- Infection Section Start -->
      <div class="main_caption">
          <h5>Infection</h5>
        </div>

        <div id="previous_infection_background"></div>

          <ul class="cp_line">
            <li><p>Current</p></li>
            <li class="top_border"><p>Previous</p></li>
          </ul>

        <div class="row hhrow_leftpadding hh_gap">
        <!-- Radios Starts -->
          <div class="col-sm-12">

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Hepatitis</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_hepatitis" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_hepatitis" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Herpes</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_herpes" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_herpes" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">TB</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_tb" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_tb" type="checkbox" name="blankRadio" id="blankRadio1"  aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_toptb">HIV | ADIS</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_hiv_aids" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_hiv_aids" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Others</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_infections_others" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_infections_others" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!--Infection Section End -->

        <!-- Women Section Start -->
      <div class="main_caption">
          <ul class="left_padding_no">
            <li><h5>Women</h5></li>
            <li><p style="color:#a7a9ab;"><i>(Only if you are born as female)</i></p></li>
          </ul>
      </div>

          <div id="previous_women_background"></div>

          <ul class="cp_line2">
            <li><p>Current</p></li>
            <li class="top_border"><p>Previous</p></li>
          </ul>

        <div class="row hhrow_leftpadding hh_gap">
        <!-- Radios Starts -->
          <div class="col-sm-12">

            <div class="col-sm-3">
              <ul class="">
                <li><p class="subtitle subtitle_bottom">Menstrual Problems</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_menstrual_problems" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_menstrual_problems" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-3 paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Gynaecological Surgery</p></li>
                <li id="woman_side"><input ng-model="healthHistory.gynaecological_surgery_problems" type="text" class="form-control" id="gyn_surgery" placeholder="Type in here"></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_gynaecological_surgery" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_gynaecological_surgery" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-3 paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Pregnant: Due Date</p></li>
                <li id="woman_side"><input ng-model="healthHistory.pregnant_date" type="text" class="form-control" id="pregnant" placeholder="YYYY/MM/DD"></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_pregnant" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_pregnant" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-3 paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_bottomp">Menopausal Problems</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_menopausal_problems" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_menopausal_problems" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!--Women Section End -->

        <!-- Skin Section Start -->
      <div class="main_caption">
          <h5>Skin</h5>
        </div>

        <div id="previous_skin_background"></div>

          <ul class="cp_line">
            <li><p>Current</p></li>
            <li class="top_border"><p>Previous</p></li>
          </ul>

        <div class="row hhrow_leftpadding hh_gap">
        <!-- Radios Starts -->
          <div class="col-sm-12">

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Skin Conditions</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_skin_conditions" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_skin_conditions" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Bruise Easily</p></li>
                <li>
                    <div class="radio radio_padding">
                      <label>
                        <input ng-model="healthHistory.current_bruise_easily" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li>
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.previous_bruise_easily" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                    </label>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!--Skin Section End -->

        <!-- Muscle & JointStart -->
        <div class="main_caption">
          <h5>Muscle & Joints</h5>
        </div>

        <div id="previous_mj_background"></div>

        <ul class="mj_cp_group">
         <li class="mj_cp_group_gap"><p>Current</p></li>
         <li><p>Previous</p></li>
        </ul>

        <ul class="ps_group">
          <li><p>Pain</p></li>
          <li><p>Stiff</p></li>
          <li class="top_border"><p>Pain</p></li>
          <li><p>Stiff</p></li>

        </ul>


        <div class="row hhrow_leftpadding hh_gap_extra">
        <!-- Radios Starts -->
          <div class="col-sm-12">

          <!-- Neck Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Neck</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_neck" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_neck" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_neck" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_neck" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Neck Section End -->

          <!-- Shoulders Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Shoulders</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_shoulders" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_shoulders" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_shoulders" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_shoulders" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Shoulders Section End -->

          <!-- Mid-Back Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_toptb">Mid-Back</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_mid_back" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_mid_back" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_mid_back" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_mid_back" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Mid-Back Section End -->

          <!-- Low-Back Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_toptb">Low Back</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_low_back" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.currrent_stiff_low_back" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_low_back" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_low_back" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Low-Back Section End -->

          <!-- Upper Back Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle">Upper Back</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_upper_back" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_upper_back" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_upper_back" type="checkbox" name="blankRadio3" id="blankRadio3" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_upper_back" type="checkbox" name="blankRadio3" id="blankRadio3"  aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Upper Back Section End -->



          </div>
        </div>
        <!-- Muscle & Joint End -->

        <!-- Left & Right Start -->

        <div id="previous_mj_background"></div>

        <ul class="mj_cp_group">
         <li class="mj_cp_group_gap"><p>Current</p></li>
         <li><p>Previous</p></li>
        </ul>


        <ul class="list-inline rl_cp_group">
          <li id="rl_cp_left"><p>Left</p></li>
          <li id="rl_cp_right"><p>Right</p></li>
        </ul>

        <ul class="ps_group">
          <li><p>Pain</p></li>
          <li><p>Stiff</p></li>
          <li class="top_border"><p>Pain</p></li>
          <li><p>Stiff</p></li>

        </ul>


        <div class="row hhrow_leftpadding hh_gap">
        <!-- Radios Starts -->
          <div class="col-sm-12">

          <!-- left Leg Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Leg</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_left_leg" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_left_leg" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_left_leg" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_left_leg" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Left Leg Section End -->

          <!-- Left Hip Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Hip</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_left_hip" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_left_hip" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_left_hip" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_left_hip" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Left Hip Section End -->

          <!-- Left Knee Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Knee</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_left_knee" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_left_knee" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_left_knee" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_left_knee" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Left Knee Section End -->

          <!-- Left Foot Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Foot</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_left_foot" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.currrent_stiff_left_foot" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_left_foot" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_left_foot" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Left Foot Section End -->

          <!-- Right Foot Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Foot</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_right_foot" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_right_foot" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_right_foot" type="checkbox" name="blankRadio3" id="blankRadio3" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_right_foot" type="checkbox" name="blankRadio3" id="blankRadio3"  aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Right Foot Section End -->

          <!-- Right Knee Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Knee</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_right_knee" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_right_knee" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_right_knee" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_right_knee" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Right Knee Section End -->

          <!-- Right Hip Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Hip</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_right_hip" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_right_hip" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_right_hip" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_right_hip" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Right Hip Section End -->

          <!-- Right Leg Section Start -->
            <div class="col-sm-1 hcol_marign paddingrl_none">
              <ul class="left_padding_no">
                <li><p class="subtitle subtitle_top">Leg</p></li>
                <li>
                    <div class="radio mj_padding">
                      <label>
                        <input ng-model="healthHistory.current_pain_right_leg" type="checkbox" name="blankRadio" id="blankRadio1" aria-label="...">
                      </label>
                    </div>
                </li>

                <li class="mj_gap">
                  <div class="radio">
                    <label>
                      <input ng-model="healthHistory.current_stiff_right_leg" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_pain_right_leg" type="checkbox" name="blankRadio2" id="blankRadio2" aria-label="...">
                    </label>
                  </div>
                </li>

                <li>
                  <div class="radio mj_padding">
                    <label>
                      <input ng-model="healthHistory.previous_stiff_right_leg" type="checkbox" name="blankRadio" id="blankRadio" aria-label="...">
                    </label>
                  </div>
                </li>

              </ul>
            </div>
          <!-- Left Leg Section End -->


          </div>
        </div>
        <!-- Left & Right End -->

        <!-- Radios Ends -->

        <div class="page_indicator">
              <ol class="carousel-indicators">
                  <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                  <li data-target="#slideshow" data-slide-to="1"></li>
                  <li data-target="#slideshow" data-slide-to="2"></li>
                  <li data-target="#slideshow" data-slide-to="3"></li>
              </ol>
        </div>

        <button ng-click="healthHistory.saveHealthHistory()" type="submit" class="btn btn-default next_btn pi_btn">Next</button>

      </div>
    </div>

  </form>
<!-- FORM ENDS -->

    <!-- Phone version -->

    <div id="welcome_mobile">
      <div class="container">
        <ul>
         <li><h1>WELCOME<br>TCM HEALTH CENTRE</h1></li>
         <li><p>Client Registration Form is not compactable with Mobile Phones</p></li>
        </ul>

      </div>
    </div>



  	<script>
   	new WOW().init();
 	 </script>
