
    <div class="page_title">
      <div class="container">
          <h1>TCM HEALTH CENTRE</h1>
      </div>
    </div>

    <div class="page_name">
    <h5> Personal Information</h5>
    </div>

<!-- FORM START -->
  <form>

    <div id="pi_section1">
      <div class="container">

        <div class="row">
          <div class="col-sm-6">
          <img src="img/profile.jpg"/>
          </div>

          <div class="col-sm-6" id="section1_margin">
            <div class="form-group">
              <label for="Name">Name</label>
              <input ng-model="name" type="text" class="form-control" id="name" placeholder="First & Last Name">
            </div>

            <div class="form-group">
              <label for="Occupation">Occupation</label>
              <input ng-model="occupation" type="text" class="form-control" id="occupation" placeholder="Please Provide Us your Occupation">
            </div>

          </div>
        </div>

      </div>
    </div>

    <div id="pi_section2">
      <div class="container">

        <div class="row">
        <!-- Date of Birth -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="Date of Birth">Date of Birth</label>

              <input ng-model="birth_date" type="date" class="form-control form_with" id="birth_date" placeholder="YYYY/MM/DD">
            </div>
          </div>

        <!-- Height -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="Height">Height</label>
              <input ng-model="height" type="text" class="form-control form_with" id="height" placeholder="cm/ft">
              <select ng-model="height_type">
                <option value="cm" selected="selected">cm</option>
                <option value="foot">foot</option>
              </select>
            </div>
          </div>

        <!-- Weight -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="Weight">Weight</label>
              <input ng-model="weight" type="text" class="form-control form_with" id="weight" placeholder="lb/kg">
              <select ng-model="weight_type">
                <option value="kg" selected="selected">kg</option>
                <option value="lb">lb</option>
              </select>
            </div>
          </div>
        <!-- Address -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="Address">Address</label>
              <input ng-model="address" type="text" class="form-control form_with" id="address" placeholder="House/apt # and street">
            </div>
          </div>
        <!-- Postal Code -->
          <div class="col-sm-4 col-sm-offset-5 pi2_padding">
            <div class="form-group">
              <label for="Postal Code">Postal Code</label>
              <input ng-model="postal_code" type="text" class="form-control form_with" id="postal_code" placeholder="Enter Postal Code Here">
            </div>
          </div>

        </div>

        <div class="row">
        <!-- City -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="City">City</label>
              <input ng-model="city" type="text" class="form-control form_with" id="city" placeholder="Enter Your City Here">
            </div>
          </div>

        <!-- Province -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="">Province</label>
              <input n-model="province" type="text" class="form-control form_with" id="province" placeholder="Enter Your Province Here">
            </div>
          </div>

        </div>

        <div class="row">
        <!-- Home Phone -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="Home Phone">Home Phone</label>
              <input ng-model="home_phone" type="text" class="form-control form_with" id="home_phone" placeholder="Enter Home Number Here">
            </div>
          </div>

        <!-- Cell -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="">Cell</label>
              <input ng-model="cell_phone" type="text" class="form-control form_with" id="cell" placeholder="Enter Cell Number Here">
            </div>
          </div>

        <!-- Work -->
          <div class="col-sm-4 pi2_padding">
            <div class="form-group">
              <label for="">( Work )</label>
              <input ng-model="work_phone" type="text" class="form-control form_with" id="work" placeholder="Enter Work Number Here">
            </div>
          </div>

        <!-- Email -->
          <div class="col-sm-8 pi2_padding">
            <div class="form-group">
              <label for="">Email</label>
              <input ng-model="email" type="text" class="form-control" id="email" placeholder="Enter Your Email Here">
            </div>
          </div>


        <!-- Contact -->
          <div class="col-sm-12 pi2_padding">
            <ul class="left_padding_no">
              <li><p>To contact you, which way do you prefer:</p></li>
              <li>
              <div class="row">
                <div class="col-sm-3">
                <label class="radio-inline checkbox-circle">
                <input type="radio" id="inlineCheckbox1" name="contact" ng-model="preferred_contact" ng-value="homePhone"> Home Phone
                </label>
                </div>

                <div class="col-sm-3">
                <label class="radio-inline checkbox-circle">
                  <input type="radio" id="inlineCheckbox2" name="contact" ng-model="preferred_contact" ng-value="cellPhone"> Cell Phone
                </label>
                </div>

                <div class="col-sm-3">
                <label class="radio-inline checkbox-circle">
                  <input type="radio" id="inlineCheckbox3" name="contact" ng-model="preferred_contact" ng-value="textMessage"> Text Message
                </label>
                </div>

                <div class="col-sm-3">
                <label class="radio-inline checkbox-circle">
                    <input type="radio" id="inlineCheckbox4" name="contact" ng-model="preferred_contact" ng-value="email"> Email
                </label>
                </div>

              </div>
              </li>

            </ul>
          </div>

          <div class="col-sm-8 pi2_padding">
            <div class="form-group">
              <label for="referal">Where did you first hear about us?</label>
              <input ng-model="referral" type="text" class="form-control" id="referral" placeholder="Please enter info here">
            </div>
          </div>
        </div>

        <div class="page_indicator">
              <ol class="carousel-indicators">
                  <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                  <li data-target="#slideshow" data-slide-to="1"></li>
                  <li data-target="#slideshow" data-slide-to="2"></li>
                  <li data-target="#slideshow" data-slide-to="3"></li>
              </ol>
        </div>

        <button ui-sref="health_history" type="submit" class="btn btn-default next_btn pi_btn">Next</button>

      </div>
    </div>

  </form>
<!-- FORM ENDS -->

    <!-- Phone version -->

    <div id="welcome_mobile">
      <div class="container">
        <ul>
         <li><h1>WELCOME<br>TCM HEALTH CENTRE</h1></li>
         <li><p>Client Registration Form is not compactable with Mobile Phones</p></li>
        </ul>

      </div>
    </div>



  	<script>
   	new WOW().init();
 	 </script>
